<header class="header app-header">
    <img src="../assets/logo/logo_mobile.svg" alt="Join Logo" class="header-logo-mobile mobile-only">

    <span class="app-title desktop-only">Kanban Project Management Tool</span>

    <div class="header-user-actions">
        <a href="help.html" class="help-btn desktop-only">
            <img src="../assets/icons/help.png" alt="Help">
        </a>

        <div class="user-profile-wrapper" onclick="toggleLogoutMenu(event)">
            <div class="user-initials" id="userInitials">CS</div>

            <div class="header-dropdown-menu d-none" id="headerDropdown">
                <a href="help.html" class="dropdown-item mobile-only-item">Help</a>
                <a href="privacy_policy.html" class="dropdown-item mobile-only-item">Privacy Policy</a>
                <a href="legal_notice.html" class="dropdown-item mobile-only-item">Legal Notice</a>
                <button class="dropdown-item logout-item" onclick="logout()">Log out</button>
            </div>
        </div>
    </div>
</header>