<div class="sidebar">
    <div class="sidebar-top-group">
        <img src="../assets/logo/logo_white.svg" alt="Join Logo" class="sidebar-logo">
        
        <nav class="nav-links" id="nav-links">
            <a href="summary.html" id="nav-summary" class="nav-item">
                <img src="../assets/icons/summary.svg" alt="" class="nav-icon">
                <span>Summary</span>
            </a>
            <a href="add_task.html" id="nav-addtask" class="nav-item">
                <img src="../assets/icons/add_task.svg" alt="" class="nav-icon">
                <span>Add Task</span>
            </a>
            <a href="board.html" id="nav-board" class="nav-item">
                <img src="../assets/icons/board.svg" alt="" class="nav-icon">
                <span>Board</span>
            </a>
            <a href="contacts.html" id="nav-contacts" class="nav-item">
                <img src="../assets/icons/contacts.svg" alt="" class="nav-icon">
                <span>Contacts</span>
            </a>
        </nav>

        <a href="login.html" class="nav-item d-none" id="sidebar-login-btn">
            <img src="../assets/icons/login.svg" alt="" class="nav-icon"> <span>Log in</span>
        </a>
    </div>

    <div class="sidebar-footer">
        <a href="privacy_policy.html" class="footer-link">Privacy Policy</a>
        <a href="legal_notice.html" class="footer-link">Legal Notice</a>
    </div>
</div>